/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
    display: block;
    margin: 0 auto;
    flex: auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
    font-family: 'Roboto', sans-serif;
}